.content{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    display: flex;
    width: 100%;
}

/* img{
    height: 100vh;
} */

/* config carousel */
/* .carousel{
     width: 65%;
} */


/* config form__login */
.form__login{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width:35% ; */
}

.form__login__card{
    width: 400px;
}

.login__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 20px 0;
}

.login-header__title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

@media (min-width:320px){
    /* config carousel */
    .carousel{
        display: none;
   }

/* config form__login */
    .form__login{
        width:100% ;
        height: 100vh;
        display:flex;
        justify-content: center;
    }

    .form__login__card{
        margin: auto;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        box-shadow: 0 14px 10px -6px rgba(0,0,0, 0.2);
    }
}

@media (min-width:768px){
    /* config carousel */
    .carousel{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/img/portada-3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
   }
   .carousel-inner{
       width: 100%;
       height: 100%;
       position: relative;
       background-color: rgba(0, 0, 0, 0.2);
   }

/* config form__login */
   
}